/* Parallax elements */
.asset-testimonials {
    background-image: url('../assets/parallax-1.jpg');
}
.asset-purchase {
    background-image: url('../assets/parallax-2.jpg');
}
.asset-trusted-clients, .asset-get-inspired {
    background-image: url('../assets/parallax-3.jpg');
}
.asset-design-features {
    background-image: url('../assets/parallax-4.jpg');
}
.asset-follow-biznex {
    background-image: url('../assets/parallax-4.jpg');
}

/* Scalable websites section */
.asset-scalable h3 {
    font-size: 22px;
    line-height: 27px;
    text-align: left;
    margin-top: -8px;
    margin-bottom: 20px;
}
.asset-scalable .trails {
    display: none;
}
.asset-scalable .devices {
    max-width: 100%;
    display: block;
    margin: 30px auto 0 auto;
}

/* About us image asset */
.asset-about-us-image {
    z-index: 8000;
    position: relative;
    display: block;
    max-width: 280px;
    margin: 33px auto -102px auto;
}
.asset-after-about-us {
    padding-top: 102px;
}

/* Get inspired + design features sections */
.asset-get-inspired h3, .asset-design-features h3 {
    font-size: 18px;
    margin-top: -11px;
    margin-bottom: 57px;
    text-transform: uppercase;
}
.asset-get-inspired h3.big, .asset-design-features h3.big {
    font-size: 26px;
    margin-top: 63px;
    margin-bottom: 36px;
    font-weight: 400;
}

/* How can we help section */
.asset-mini-slider {
    margin-bottom: 90px;
}
.asset-mini-slider img {
    max-width: 100%;
}

@media (min-width: 768px) {
    .asset-scalable h3 {
        font-size: 34px;
        line-height: 41px;
    }
    .asset-about-us-image {
        max-width: 100%;
        margin-bottom: -185px;
    }
    .asset-after-about-us {
        padding-top: 185px;
    }
    .asset-scalable .container {
        position: relative;
    }
    .asset-scalable .trails {
        position: absolute;
        top: -15px;
        left: 225px;
        display: block;
    }
    .asset-scalable .devices {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 425px;
        display: block;
    }
    .asset-get-inspired h3, .asset-design-features h3 {
        font-size: 28px;
        margin-top: -11px;
        margin-bottom: 57px;
    }
    .asset-get-inspired h3.big, .asset-design-features h3.big {
        font-size: 40px;
        margin-top: 63px;
        margin-bottom: 36px;
    }
}

@media (min-width: 992px) {
    .asset-about-us-image {
        margin-bottom: -195px;
    }
    .asset-after-about-us {
        padding-top: 195px;
    }
    .asset-scalable .devices {
        width: auto;
    }
}

@media (min-width: 1200px) {
    
}